@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image:
		url(https://cdn.pixabay.com/photo/2016/01/19/14/51/vegetables-1149006_960_720.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.icon-nav {
	margin-right: 15px;
	color: rgba(168, 128, 18, 0.877);
}

.navbar-nav {
	margin-left: 10px;
}

.navbar-brand {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
}

.card-login {
	padding: 10px;
	width: 80%;
	height: max-content;
	margin: auto;
	margin-top: 3%;
	border-radius: 8px;
	background-color: rgb(45 45 45/ 76%);
	margin-bottom: 3%;
}

.card-header, h1 {
	text-align: center;
	font-size: 250%;
	margin-top: 5%;
	margin-bottom: 5%;
	color: rgba(168, 128, 18, 0.877);
}

.card-body {
	padding-left: 35px;
	padding-right: 35px;
	margin-top: 15px;
}

.box-cliente {
	height: max-content;
}

.btn {
	width: 100%;
	font-size: 130%;
	color: #ffd4ae;
	font-family: sans-serif;
}

.btn-success {
	background-color: #212529;
	border-color: #198754;
}

.btn-success:hover {
	color: #212529;
	background-color: #ffce90;
	border-color: #146c43;
}

.btn-check:active+.btn-success, .btn-check:checked+.btn-success,
	.btn-success.active, .btn-success:active, .show>.btn-success.dropdown-toggle
	{
	color: #fff;
	background-color: #ffce90;
	border-color: #13653f;
}

.btn-check:focus+.btn-success, .btn-success:focus {
	color: #212529;
	background-color: #ffce90;
	border-color: #146c43;
	box-shadow: 0 0 0 0.25rem rgb(60 153 110/ 50%);
}

.input-group-text {
	display: flex;
	align-items: center;
	font-size: 120%;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: center;
	white-space: nowrap;
	background-color: #e9ecef;
	border: 1px solid #ced4da00;
	border-radius: .25rem;
}

.input-group-sm>.btn, .input-group-sm>.form-control, .input-group-sm>.form-select,
	.input-group-sm>.input-group-text {
	padding: .25rem .5rem;
	font-size: 1.3rem;
	border-radius: .2rem;
	font-family: sans-serif;
}
.p-insertar{
	font-size: 1.3rem !important;
}